/berge_out.pgm
/berge_puzzleteil1.pgm
/berge_puzzleteil2.pgm
/berge_puzzleteil3.pgm
/diff.sh
/hhu_out.pgm
/hhu_puzzleteil1.pgm
/hhu_puzzleteil2.pgm
/muenzen_out.pgm
/muenzen_puzzleteil1.pgm
/muenzen_puzzleteil2.pgm
/muenzen_puzzleteil3.pgm
/muenzen_puzzleteil4.pgm
/muenzen_puzzleteil5.pgm